  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Find Jobs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Review Company</a>
              </li>
          </div>

          <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Find Jobs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Review Company</a>
              </li>
          </div>

          <!-- GO to login/sign up Button -->
              {{!-- <div class="nav-item btn-group">
                <a href="signin.html" class="btn btn-primary active"><div class="btn-group">Go To Login/Sign Up</div></a>
              </div> --}}
              <!-- end of login/signup button -->

              <div class="container-fluid">
                  <li class="nav-item btn-group">
                      <a href="message.html" class="btn active">
                          <img src="./Images/message.png" alt="" width="30" height="24">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="#">
                            <img src="./Images/notification.png" alt="" width="30" height="24">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="#">
                            <img src="./Images/person.jpeg" alt="" width="30" height="24">
                        </a>
                    </div>
                    </li>
                </div>
      </nav>
    </ul>
    
    <div class="input-group">
        <span class="input-group-text">What and Where</span>
        <input type="search" aria-label="search" placeholder="Job Title" class="form-control">
        <input type="search" aria-label="search" placeholder="Philadelphia, PA" class="form-control">
        <button type="button" class="btn btn-primary">Find jobs</button>
      </div>

      <div class="container" class="row justify-content-md-center" style="width: 18rem;">
        <div class="card-header">
          Recent Searches
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>