{{!-- 
{{#each  as || }}
{{/each}} --}}
{{!-- <body> --}}
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">iWork</a>
      </h1>

        <h4><span class="material-icons justify-space-between align-center">search</span>Find the job!</h4>

        <div class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a href="./main" class="navbar__link">
            <span class="material-icons">home</span>Home
        </a>
        <a href="./postingjobs.html" class="navbar__link">
            <span class="material-icons">post_add</span>Post Job
        </a>
        <div class="dropdown">
            <a href="#" class="navbar__link">
                <span class="material-icons">notifications</span>notifications
            </a>
        </div>
            {{!-- <span class="material-icons">account_circle</span>Login --}}
            <a href="./login">
            <button type="button" id="login-button" class="btn btn-primary">Login</button>
        </a>
    </div>
    
    <label for="site-search"></label>
    <input type="search" placeholder="what" id="site-search" name="q"
       aria-label="Search through site content">
    <input type="search" placeholder="where" id="site-search" name="q"
       aria-label="Search through site content">
    <button type="button" id="search-button" class="btn btn-primary">Search Jobs</button>
   

   {{!-- jobs in table --}}
   <div class="container">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.content}}.</p>
        <a href="#" type="button" id="login-button" class="btn btn-primary">Apply</a>
      </div>
    </div>
</div>



  <!-- Render script for logged in users only -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="js/homepage.js"></script>
{{!-- </body> --}}

</html>