<body>
        <form>
        <div class="formContainer">
        <h1>Sign Up Form</h1>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <label for="repeatPassword"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="repeatPassword"
        required>
        <label>
        <input type="checkbox" checked="checked" name="remember" style="marginbottom:
        15px"> Remember me
        </label>
        <p>By creating an account you agree to our <a href="#"
        style="color:dodgerblue">Terms & Privacy</a>.</p>
        <div>
        <button type="button" class="cancel">Cancel</button>
        <button type="submit" class="signup">Sign Up</button>
        </div>
        </div>
        </form>
</body>

<script src="./js/login.js"></script>